@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 14, 165, 233;
    --color-secondary: 99, 102, 241;
    --color-success: 16, 185, 129;
    --color-warning: 245, 158, 11;
    --color-danger: 239, 68, 68;
  }

  body {
    @apply text-gray-900 bg-gray-50;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full hover:bg-gray-400;
  }
}
